@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
  <h1 class="display-4">Hello, Net Core 2.0!</h1>
  <p class="lead">Aplicação Gerenciador de Tarefas.</p>
  <hr class="my-4">
  <p>Utilizando EF.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" asp-controller="Tarefas" asp-action="Index" asp-route-criterio=null >Ver Tarefas</a>

  </p>
</div>